<%= form_with(model: recipe) do |form| %>
    <% if recipe.errors.any? %>
    <div style="color: red">
      <ul class="alert alert-danger list-unstyled">
        <% recipe.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :name, class: 'form-label'%>
    <%= form.text_field :name , required: true, class: 'form-control'%>
  </div>

  <div class="mb-3">
    <%= form.label :preparation_time, class: 'form-label'%>
    <%= form.time_field :preparation_time , required: true, class: 'form-control'%>
  </div>

  <div class="mb-3">
    <%= form.label :cooking_time, class: 'form-label'%>
    <%= form.time_field :cooking_time , required: true, class: 'form-control'%>
  </div>

  <div class="mb-3">
    <%= form.label :description, class: 'form-label'%>
    <%= form.text_area :description, required: true, class: 'form-control'%>
  </div>

  <div class="mb-3 form-check form-switch">
    <%= form.label :public, class: 'form-check-label'%>
    <%= form.check_box :public , class: 'form-check-input'%>
  </div>

  <div class="form-group mb-3">
    <% if recipe.image.attached? %>
      <%= image_tag recipe.image, class: 'img-thumbnail rounded', style: 'width: 400px; aspect-ratio: 1;'%>
    <% else %>
      <%= form.label :image, "Image (Perferable to be a perfect square 400x400)", class: 'form-label'%>
    <% end %> 
    <%= form.file_field :image, class: 'form-control'%>
  </div >

  <div id="recipe_foods">
    <%= form.fields_for :recipe_foods do |rf| %>
      <%= render "recipe_food_fields", f: rf, foods: @foods %>
    <% end %>
    <div class="links mb-3 d-flex">
      <%= link_to_add_association "Add Ingredient", form, :recipe_foods , class: 'btn btn-success ms-auto'%>
    </div>
  </div>

  <div class="mb-3">
    <%= form.submit  button_text, class: 'btn btn-primary'%>
  </div>
<% end %>
