<%= form_with(model: recipe) do |form| %>
  <% if recipe.errors.any? %>
    <div style="color: red">
      <ul class="alert alert-danger list-unstyled">
        <% resource.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :name, class: 'form-label'%>
    <%= form.text_field :name , required: true, class: 'form-control'%>
  </div>

  <div class="mb-3">
    <%= form.label :preparation_time, class: 'form-label'%>
    <%= form.time_field :preparation_time , required: true, class: 'form-control', value: "%H:%M:%S", 
      min: 'hh:mm:ss',
      max: 'hh:mm:ss'
    %>
  </div>

  <div class="mb-3">
    <%= form.label :cooking_time, class: 'form-label'%>
    <%= form.time_field :cooking_time , required: true, class: 'form-control'%>
  </div>

  <div class="mb-3">
    <%= form.label :description, class: 'form-label'%>
    <%= form.text_area :description, required: true, class: 'form-control'%>
  </div>

  <div class="mb-3">
    <%= form.label :public, class: 'form-check-label'%>
    <%= form.check_box :public , class: 'form-check-input'%>
  </div>

  <div class="mb-3">
    <%= form.submit  "Create recipe", class: 'btn btn-primary'%>
  </div>
<% end %>
