<div id="<%= dom_id recipe %>" class="card h-100">
  <%= render "image" , recipe: recipe, class_type: 'card-img-top' %>

  <div class="card-body">
    <h5 class="card-title">
    <%= " \"#{recipe.name}\" written by #{recipe_owner(recipe)}"%>
    </h5>

    <p class="card-text">
      <%= recipe.description[0...25] %>...
    </p>

    <div class="d-flex">
      <%= link_to 'Show this recipe', recipe, class: 'btn btn-primary me-auto'%>
      <% if can? :destroy, recipe %>
      <%= button_to "Delete this recipe", recipe_path(recipe), method: :delete, class: 'btn btn-danger' %>
      <% end %>
    </div>
  </div>

</div>
